<form action="/links/add" method="post" id="container">
    <img src="/logo/logo.png" alt="">
    <input type="text" name="nombre" placeholder="nombre" autofocus required>
    <input type="number" name="lote" placeholder="lote" required>
    <input type="number" name="cantidad" placeholder="cantidad" required>
    <input type="text" name="serie" placeholder="serie">
    <input type="text" name="nominacion" placeholder="nominacion">
    <input type="text" name="estado" placeholder="estado">
    <input type="text" name="marca" placeholder="marca">
    <button type="submit" class="btn btn-success">guardar</button>
</form>